<div class="input-field col s12">
    <i class="material-icons prefix">business</i>
    <select name="form[center]">
        <option value="" disabled selected>Choisissez un centre</option>
        {% for center in centers %}
            <option value="{{ center }}">{{ center }}</option>
        {% endfor %}
    </select>
</div>